<footer>
  <div id="footer-container">
    <div>
      <p><span>&#169; Hisham Khan </span>All rights are reserved</p>
    </div>
    <div>
      <ul id="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/users/profile/">Profile</li>
      </ul>
    </div>
  </div>
</footer>
