<header>
  <navbar>
    <div id="brand">
      <h3><a href="/">Codeial</a></h3>
    </div>
    <div>
      <ul class="nav-links">
        <% if(locals.user){ %>
        <li>
          <a href="/users/profile/<%= user.id %>"
            ><span style="text-transform: capitalize"><%= user.name %></span></a
          > 
        </li>
        <li><a href="/users/sign-out">Sign Out</a></li>

        <% }else{ %>
        <li><a href="/users/sign-in">Sign In</a></li>
        <li><a href="/users/sign-up">Sign Up</a></li>

        <% } %>
      </ul>
    </div>
  </navbar>
</header>
