<form action="/user/create-session" method="POST">

  <!-- Div For Email Field -->
  <div class="form-group">
    <input
      type="email"
      name="email"
      id="InputEmail"
      placeholder="Enter email"
      required
    />
  </div>

  <!-- Div For Password Field -->
  <div class="form-group">
    <input
      type="password"
      name="password"
      id="InputPassword"
      placeholder="Password"
      required
    />

  </div>
  <button type="submit">Sign In</button>
</form>
