#profile_wrapper {
  display: flex; }
  #profile_wrapper #feed-posts {
    width: 70%;
    padding: 10px; }
  #profile_wrapper #all-users {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgray; }
    #profile_wrapper #all-users .all-users-container {
      max-height: 250px;
      max-width: 300px;
      overflow-y: hidden; }
    #profile_wrapper #all-users .all-users-container:hover {
      overflow-y: scroll; }
