#profile_wrapper {
  display: flex; }
  #profile_wrapper #feed-posts {
    width: 70%;
    padding: 10px; }
  #profile_wrapper #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 1px solid lightgray; }
